<h1>Students#new</h1>

<%= form_for(@students) do |f| %>

  <label>First Name</label>
  <%= f.text :first_name %>
  <br>
  
  <label>Last Name</label>
  <%= f.text :last_name %>
  <br>
  
  <%= f.submit %>

<% end %>